<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>First Vue app</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <h1 v-once>{{ title }}</h1>
      <p>{{ sayHello() }} <a :href="link">Zebra</a></p>
      <hr />
      <p v-html="htmlLink"></p>
      <hr />
      <button @click="counter++">Increase counter</button>
      <button @click="counterOther++">Increase other counter</button>
      <p>{{ counter }} | {{ counterOther }}</p>
      <p>{{ result() }} | {{ resultComponent }}</p>
      <p @mousemove="updateCoordinates">
        Coordinates: {{ x }} / {{ y }} - <span @mousemove.stop>DEAD SPOT</span>
      </p>
      <input type="text" @keyup.enter="alertMe" v-model="name" />
      <p>{{ name }}</p>
      <hr />
      <div
        class="demo"
        @click="attachRed = !attachRed"
        :class="divClasses"
      ></div>
      <div class="demo" :class="{red: attachRed}"></div>
      <div class="demo" :class="[color, {red: attachRed}]"></div>
      <div class="demo" :style="{backgroundColor: color}"></div>
      <input type="text" v-model="color" />
    </div>

    <script src="app.js"></script>
  </body>
</html>
